@model IEnumerable<EntityFrameworkTasks.Models.StudyProgramme>

@{
    ViewBag.Title = "Study programmes that Students can apply to.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProgrammeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProgrammeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProgrammeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProgrammeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProgrammeId })
        </td>
    </tr>
}

</table>
